%head
  :css
    html {
      background: #808080 url(#{@img_url}) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{@img_url}', sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{@img_url}', sizingMethod='scale')";
      font-size: 100%;
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }

    body {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      font-family: Helvetica, Open Sans, Arial, sans-serif;
    }

    h1#tagline {
      margin: 0;
      vertical-align: middle;
      text-align: center;
      color: #fafafa;
      font-size: 3.333em;
      text-shadow: 0 0 .1em #000;
      position: absolute;
      top: 48%;
      width: 100%;
    }

    a#rand {
      padding: 0 1em;
      line-height: 2em;
      position: absolute;
      right: 0%;
      bottom: 0%;
    }

    .btn-custom {
      background-color: #333;
      background-color: rgba(40, 40, 40, .5);
      color: #aaa;
      font-weight: bold;
      -moz-border-radius: 1em 0 0 0;
      -webkit-border-radius: 1em 0 0 0;
      border-radius: 1em 0 0 0;
      /*-moz-box-shadow: 0px 0px 8px #808080;
      -webkit-box-shadow: 0px 0px 8px #808080;
      box-shadow: 0px 0px 8px #808080;*/
      text-decoration: none;
    }
    .btn-custom:hover {
      text-decoration: underline;
    }
    .btn-custom:active {
      color: #ccc;
    }

%body
  %h1#tagline&= @tag_line
  %a#rand.btn-custom(href="#{BeneathApp.production? ? "http://#{CANONICAL_NAME}/" : '/'}") Random
